<div>
  <section id="margem-topo" style="text-align:center;"><%= paginate @power_generators %> </section>
  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <%= form_with(url: search_power_generators_path(@power_generators), method: :get, local: true) do |form| %>
      <div class="simple-form">
        <%= form.text_field :query, :placeholder => "o que procura?", :class =>"simple-form__input" %>
        <%= form.submit "Pesquisar" %>
      </div>
    <% end %>

    <%= form_with(url: search_power_generators_path(@power_generators), method: :get, local: true) do |form| %>
      <div class="advanced-form" style="display:none;">
        <%= form.text_field :name, :placeholder => "Nome", :class =>"advanced-form__input" %>
        <%= form.text_field :manufacturer, :placeholder => "Fabricante", :class =>"advanced-form__input" %>
        <%= form.collection_select :structure_type, @power_generators, :structure_type,:structure_type %>
        <%#= form.text_field :structure_type, :placeholder => "Tipo de estrutura", :class =>"advanced-form__input" %>
        <%= form.submit "Pesquisa Avançada" %>
      </div>
    <% end %>
  </div>

  <div class="container" >
    <% @power_generators.each do |power_generator| %>
      <div class="box card power_generator-card">
        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
        <div class="power_generator-card__body">
          <h2><%= power_generator.name.upcase %></h2>
          <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
          <p><strong><%=PowerGenerator.human_attribute_name(:description)%>: </strong><%= power_generator.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
 <section id="margem-rodapé" style="text-align:center;">
  <div><%= paginate @power_generators %></div>
  </section>