<!DOCTYPE html>
<html>
  <head>
    <title>Portal Solar - Dev Test</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <nav>
    <div class="header">
      <div class="logo"><%= image_tag 'ps_logo.png' %></div>
      <div class="header__title">Geradores de Energia</div>
    </nav>
    <div style = "margin:10px 0px" >
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    <div style="margin: 50px 0; display: flex; align-items: center; justify-content: center; width: 100%">
      <a style="display: block; text-align:  center; color: #555; text-decoration: none; margin-right: 15px; " href="http://localhost:3000/" target="_blank"><i class="fas fa-home" style="color: #1da1f2; margin-right: 5px;"></i>www.portalsolar.com.br</a>
    </div>
  </body>
</html>

